.popup {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  display: none;
  grid-template:
    "." minmax(40px, 1fr)
    "el"
    "." 1fr
    / 1fr;

  background-color: rgba(0, 0, 0, .5);
}
