.popup-form__save {
  padding: 14px 0;

  outline: none;

  grid-area: save;

  font: 400 14px/17px "Inter", sans-serif;
  color: #fff;

  border: none;

  background-color: #000;
  border-radius: 2px;

  transition: background-color .3s ease;
}

.popup-form__save:hover,
.popup-form__save:focus {
  background-color: rgba(0, 0, 0, .8);
  cursor: pointer;
}

@media (hover: none) {
  .popup-form__save:hover {
    background-color: #000;
  }
}

@media (min-width: 576px) {
  .popup-form__save {
    font-size: 18px;
    line-height: 22px;
  }
}
