.place {
  padding-bottom: 25px;

  display: grid;
  grid-template:
    "img img img img img"
    ". . . . ." 25px
    ". name . like ."
    / 20px auto 20px min-content 20px;

  color: #000;

  background-color: #fff;
  border-radius: 10px;

  overflow: hidden;
}
