.popup__container {
  margin: auto;
  padding: var(--popup-padding);
  position: relative;

  grid-area: el;

  box-sizing: border-box;
  width: 100%;

  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;

  background-color: var(--popup-background-color);
  color: #000;
}

/* Move content to the top in smartphones if any element is focused */
@media (pointer: coarse) {
  .popup__container:focus-within {
    margin-top: 0;
  }
}
