.profile {
  display: grid;
  grid-template:
    "photo photo photo"
    ". . ." 26px
    ". name edit"
    ". . ." 8px
    "status status status"
    ". . ." 32px
    "add add add"
    / minmax(calc(var(--profile-edit-button-size) + var(--profile-edit-button-space) + 18.5px), 1fr)
    minmax(0, auto) /* Won't break in case of overflow */
    minmax(calc(var(--profile-edit-button-size) + var(--profile-edit-button-space) + 18.5px), 1fr);
}

@media (min-width: 768px) {
  .profile {
    grid-template:
      "photo . name edit . add"
      "photo . . . . add" 9px
      "photo . status status . add"
      / 120px 30px auto 1fr 30px 150px;
  }
}
