.popup__content {
  padding: var(--popup-padding);

  box-sizing: border-box;
  max-height: 100%;
  /* В целом этот скролл (как и max-height: 100% выше) нужны только для экранов с
    альбомной ориентацией, чтобы формой вообще можно было нормально пользоваться на них.
    Этих правил изначально и не было - я их добавил после тестирования на смартфоне,
    потому что не мог там даже нажать кнопку. Однако, если скроллы совсем запрещены, то
    конечно скрою.
    https://disk.yandex.ru/i/fp6edfgPsCjRQA */
  /* overflow-y: auto; */
  overflow: hidden;

  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;

  background-color: var(--popup-background-color);
  color: #000;
}
