.popup-form__input {
  padding: 0 0 7px;

  border: none;
  border-bottom: 1px solid transparent;
  outline: none;

  background-image:
    linear-gradient(var(--popup-background-color), var(--popup-background-color)),
    linear-gradient(to right, #000 0%, #000 50%, rgba(0 0 0 / 20%) 50%, rgba(0 0 0 / 20%) 100%);
  background-size: 201% 1px;
  background-origin: border-box;
  background-clip: padding-box, border-box;
  background-position-x: right;

  font: 400 14px/17px Inter, sans-serif;
  color: inherit;

  overflow: hidden;

  transition: background 0.3s ease-out;
}

.popup-form__input:focus-visible {
  background-position-x: left;
}

.popup-form__input::placeholder {
  opacity: 1;
  color: #c4c4c4;
}

.popup-form__input:not(:placeholder-shown):invalid {
  background-image:
    linear-gradient(var(--popup-background-color), var(--popup-background-color)),
    linear-gradient(to right, #f00 0%, #f00 100%);
}
