.profile__edit {
  margin-left: var(--profile-edit-button-space);

  width: var(--profile-edit-button-size);
  height: var(--profile-edit-button-size);

  grid-area: edit;
  align-self: center;

  background-color: transparent;
  background-image: url('../../../images/profile-edit.svg');
  background-repeat: no-repeat;
  background-size: var(--profile-edit-button-image-size) var(--profile-edit-button-image-size);
  background-position: center;

  border: 1px solid #fff;
  outline: none;

  transition: opacity .15s ease-in;
}

.profile__edit:hover,
.profile__edit:focus {
  opacity: .6;

  cursor: pointer;
}

@media (hover: none) {
  .profile__edit:hover {
    opacity: 1;
  }
}

@media (min-width: 768px) {
  .profile__edit {
    align-self: end;

    margin-bottom: 8px;
  }
}
