.profile__status {
  margin: 0;

  grid-area: status;

  font: 400 14px/17px Inter, sans-serif;
  text-align: center;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (min-width: 768px) {
  .profile__status {
    font-size: 18px;
    line-height: 22px;
    text-align: left;
  }
}
