.profile-edit__save {
  padding: 14px 0;

  outline: none;

  grid-area: save;

  font: 400 14px/17px "Inter", sans-serif;
  color: #fff;

  border: none;

  background-color: #000;
  /* Вроде в фигме указан радиус скругления именно 2px для "прямоугольника с заливкой" в кнопке. Если значение неверное, то какое нужно?
    https://disk.yandex.ru/i/xvprdyQ0iCucAQ
    https://disk.yandex.ru/i/1wfsjgZf-IsJwQ
    Я понимаю что вопросы задавать ревьюверу запрещено, просто тут немного тупиковая ситуация. */
  border-radius: 2px;

  transition: background-color .3s ease;
}

.profile-edit__save:hover,
.profile-edit__save:focus {
  background-color: rgba(0, 0, 0, .8);
  cursor: pointer;
}

@media (hover: none) {
  .profile-edit__save:hover {
    background-color: #000;
  }
}

@media (min-width: 576px) {
  .profile-edit__save {
    font-size: 18px;
    line-height: 22px;
  }
}
