.popup-form {
  display: grid;
  grid-template:
    "fields"
    "." 15px
    "submit-error"
    "save" / 1fr;

  &__fieldset {
    @include reset;

    border: none;
    grid-area: fields;
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: auto;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 3px;
  }

  &__title {
    margin-bottom: calc(var(--popup-form-space-title) - 3px);
  }

  &__error-submit {
    grid-area: submit-error;
    padding-bottom: 15px;

    &:empty {
      padding: 0;
      min-height: 0;
    }
  }

  &__input {
    padding: 0 0 7px;

    border: none;
    border-bottom: 1px solid transparent;
    outline: none;

    background-image:
      linear-gradient($popup-background-color, $popup-background-color),
      linear-gradient(to right, #000 0%, #000 50%, rgba(0 0 0 / 20%) 50%, rgba(0 0 0 / 20%) 100%);
    background-size: 201% 1px;
    background-origin: border-box;
    background-clip: padding-box, border-box;
    background-position-x: right;
    font: 400 14px/17px Inter, sans-serif;
    color: inherit;
    overflow: hidden;
    transition: background 0.3s ease-out;

    &:focus-visible {
      background-position-x: left;
    }

    &::placeholder {
      opacity: 1;
      color: #c4c4c4;
    }

    &:not(:placeholder-shown):invalid {
      background-image:
        linear-gradient($popup-background-color, $popup-background-color),
        linear-gradient(to right, #f00 0%, #f00 100%);
    }
  }

  &__save {
    grid-area: save;
  }

  &:invalid > &__save {
    color: rgba(0 0 0 / 20%);
    border: 1px solid rgba(0 0 0 / 20%);
    background-color: transparent;
    cursor: initial;
  }

  &:invalid > &__save:hover,
  &:invalid > &__save:focus {
    background-color: transparent;
  }

  @media (hover: none) {
    &:invalid > &__save:hover {
      background-color: transparent;
    }
  }
}
