.popup__close {
  position: absolute;
  top: -36px;
  right: 0;

  grid-area: close;
  justify-self: start;

  width: 20px;
  height: 20px;

  background-color: transparent;
  background-image: url('../../../images/close.svg');
  background-size: contain;

  border: none;
  cursor: pointer;

  transition: opacity .3s ease;
}

.popup__close:hover {
  opacity: .6;
}

@media (min-width: 576px) {
  .popup__close {
    top: -40px;
    right: -40px;

    width: 32px;
    height: 32px;
  }
}
