.profile__name {
  margin: 0;

  grid-area: name;

  font: 500 27px/33px "Inter", sans-serif;
  text-align: center;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (min-width: 768px) {
  .profile__name {
    align-self: end;

    font-size: 42px;
    line-height: 48px;
    text-align: left;
  }
}
