.place__like {
  padding: 0;

  width: 22px;
  height: 19px;

  grid-area: like;
  align-self: center;

  border: none;

  background-color: transparent;
  transition: opacity 0.15s ease-in-out;

  background-image: url("../../../images/like.svg");
  background-size: cover;
}

@media (hover: hover) {
  .place__like:hover {
    cursor: pointer;
    opacity: 0.5;
  }
}
