.image-view__title {
  margin-bottom: -25px;

  width: 0;
  min-width: 100%;

  grid-area: el;
  align-self: end;

  overflow: hidden;

  font: 400 12px/15px Inter, sans-serif;
  white-space: nowrap;
  text-overflow: ellipsis;
}
