.popup-form__input {
  padding: 0 0 7px 0;

  border: none;
  border-bottom: 1px solid transparent;
  outline: none;

  background-image: linear-gradient(var(--popup-background-color), var(--popup-background-color)),
    linear-gradient(to right, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.2) 100%);
  background-size: 201% 1px;
  background-origin: border-box;
  background-clip: padding-box, border-box;
  background-position-x: right;

  font: 400 14px/17px "Inter", sans-serif;
  color: inherit;

  overflow: hidden;

  transition: background .3s ease-out;
}

.popup-form__input:focus-visible {
  background-position-x: left;
}
